body {
    --headerStyle: "Montserrat", sans-serif;
    --bodyTextStyle: Helvetica, Arial, sans-serif;
    --fontColorStyle: #F9FAFB;
    --linkColorStyle: #03cffc;
    --infoTextSize: 18px;
    background: #1E293B;
}

.navBar {
    display: flex;
    justify-content: space-between;
    background-color: #ffff;
    text-align: center;
    width: 50%;
    position: relative;
    left: 25%;
    border-radius: 6px;
}

.navBar img {
    width: 50%;
}

.header {
    padding: 10px 60px;
    position: relative;
    width: 50%;
    border-radius: 6px;
    margin: auto;
    margin-top: 30px;
    text-align: center;
    background: #ee6c4d;
    color: white;
}

.headerImage {
    margin-top: 20px;
    text-align: center;
    justify-content: center;
}

.infoText {
    display: flex;
    background: white;
    font-size: var(--infoTextSize);
    justify-content: center;
    text-align: center;
    width: 33%;
    margin-left: auto;
    margin-right: auto;
}

.contentContainer {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
}

.contentText {
    background: white;
    font-size: var(--infoTextSize);
    justify-content: center;
    text-align: center;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.contentImage {
    margin-top: 150px;
    text-align: center;
    justify-content: center;
    width: 85%;
}
