body {
    --headerStyle: "Montserrat", sans-serif;
    --bodyTextStyle: Helvetica, Arial, sans-serif;
    --fontColorStyle: #F9FAFB;
    --linkColorStyle: #03cffc;
    --bodyTextSize: 14px;
    --headerBackgroundColor: #ee6c4d;

    margin: 0;
    background: #1E293B;
    text-align: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.container img {
    width: 250px;
    height: 300px;
    margin-right: 10px;
    margin-left:100px;
}

.headerBox {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    width: 50%;
    text-align: center;
    background: var(--headerBackgroundColor);
    border-radius: 12px;
}

.headerText {
    font-family: var(--headerStyle);
    font-size: var(--bodyTextSize);
    padding: 10px;
}

.text {
    font-size: var(--bodyTextSize);
    margin-left: auto;
    margin-right: auto;
    font-family: var(--bodyTextStyle);
    border-radius: 12px;
    width: 75%;
    background-color: white;
}

.image {
    height: 300px;
    width: 250px;
    margin-left: 10px;
}

.titleBox {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
    justify-content: center;
}

.titleBox h1 {
    font-family: var(--headerStyle);
    font-size: 48px;
    color: var(--fontColorStyle);
    text-align: center;
    justify-content: center;
}

.titleBox h2 {
    font-family: var(--headerStyle);
    font-size: 24px;
    color: var(--fontColorStyle);
    text-align: center;
    justify-content: center;
}

.titleBox p {
    font-family: var(--bodyTextStyle);
    font-size: 18px;
}

.titleBox a {
    color: var(--linkColorStyle);
}

.text h4 {
    font-family: var(--headerStyle);
    color: var(--fontColorStyle);
    font-size: 18px;
    text-align: center;
    justify-content: center;
    margin-bottom: 20px;
}

.gContainer {
    display: grid;
    grid-template-columns: 225px 225px;
    grid-template-rows: 225px 225px;
    gap: 80px;
    place-content: center;
    margin-bottom: 40px;
}

.gContainer h3 {
    font-family: var(--headerStyle);
    color: var(--fontColorStyle);
    font-size: 18px;
}

.gContainer > div {
    background-color: #f1f1f1;
    border: 1px solid black;
    text-align: center;
}
