body {
    --headerStyle: "Montserrat", sans-serif;
    --bodyTextStyle: Helvetica, Arial, sans-serif;
    --fontColorStyle: #F9FAFB;
    --linkColorStyle: #03cffc;
    --bodyTextSize: 14px;
    --headerBackgroundColor: linear-gradient(to right, #ee6c4d, #f07f64);
    margin: 0;
    background-image: linear-gradient(to bottom, #1E293B, #a9d4ff);
    text-align: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.container img {
    width: 250px;
    height: 300px;
    margin-right: 10px;
    margin-left:100px;
}

.headerBox {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    width: 50%;
    text-align: center;
    background: var(--headerBackgroundColor);
    border-radius: 12px;
}

.headerText {
    font-family: var(--headerStyle);
    font-size: var(--bodyTextSize);
    padding: 10px;
}

.text {
    font-size: var(--bodyTextSize);
    margin-left: auto;
    margin-right: auto;
    font-family: var(--bodyTextStyle);
    border-radius: 12px;
    width: 75%;
    background-color: white;
}

.image {
    height: 300px;
    width: 250px;
    margin-left: 10px;
}

.titleBox {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
    justify-content: center;
}

.titleBox h1 {
    font-family: var(--headerStyle);
    font-size: 48px;
    color: var(--fontColorStyle);
    text-align: center;
    justify-content: center;
}

.titleBox h2 {
    font-family: var(--headerStyle);
    font-size: 24px;
    color: var(--fontColorStyle);
    text-align: center;
    justify-content: center;
}

.titleBox p {
    font-family: var(--bodyTextStyle);
    font-size: 18px;
}

.titleBox a {
    color: var(--linkColorStyle);
}

.text h4 {
    font-family: var(--headerStyle);
    color: var(--fontColorStyle);
    font-size: 18px;
    text-align: center;
    justify-content: center;
    margin-bottom: 20px;
}

.gContainer {
    display: grid;
    grid-template-columns: 225px 225px 225px;
    grid-template-rows: 225px 225px 225px;
    gap: 80px;
    place-content: center;
    margin-bottom: 40px;
}

.gContainer h3 {
    font-family: var(--headerStyle);
    color: var(--fontColorStyle);
    font-size: 18px;
    gap: 10px;
}

.gContainer > div {
    background-color: #f1f1f1;
    border: 1px solid black;
    text-align: center;
}

.img_wrap {
    position: relative;
    height: 225px;
    width: 225px;
}

.img_desc {
    position: absolute;
    height: 225px;
    width: 225px;
    vertical-align: middle;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(29, 106, 154, 0.72);
    color: black;
    font-family: var(--bodyTextStyle);
    font-size: 24px;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s, visibility .2s;
}

.img_wrap:hover .img_desc {
    visibility: visible;
    opacity: 1;
}

@media screen and (width < 601px) {
    .desktopContent {
        display: none;
    }

    .mobileContent {
        display: grid;
    }

    .headerBox img {
        width: 75%;
        height: 75%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }

    .headerBox {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-content: center;
        justify-content: center;
    }
    .headerText {
        background: var(--headerBackgroundColor);
    }

    .text {
        font-family: var(--bodyTextStyle);
    }

    .gContainer {
        display: grid;
        grid-template-columns: 225px;
        place-content: center;
        margin-bottom: 40px;
        margin-top: 80px;
    }

    .gContainer h3 {
        font-family: var(--headerStyle);
        color: var(--fontColorStyle);
        font-size: 18px;
        margin-bottom: 10px;
    }

    .gContainer > div {
        background-color: #f1f1f1;
        border: 1px solid black;
        text-align: center;
    }

}
